.c-text {
  text-align: center;
}

.sub-title {
  text-align: center;
  margin-top: -20px;
}

.menu-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}

.center-div {
  justify-content: center;
  display: flex;
}
